# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*
unlinked.ds

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Mac/Linux/Windows
.DS_Store
*.swp
*.swo
Thumbs.db

# Coverage
coverage/

# Generated plugin registrant
**/GeneratedPluginRegistrant.dart
